@font-face {
    font-family: 'mononoki-Regular';
    src: url('../assets/fonts/mononoki-Regular.woff2') format('woff2');
}

html * {
    font-family: 'mononoki-Regular', monospace;
}

.hotbar {
    opacity: 0.6;
    transition: opacity 0.4s;
}

.hotbarHover {
    opacity: 1;
}

.hotbar:hover {
    opacity: 1;
}

.hotbar:focus-within {
    opacity: 1;
}

.newNote {
    opacity: 0.6;
    border: 1px solid white;
    transition: opacity 0.4s, border 0.4s;
}

.newNoteHover {
    opacity: 1;
    border: 1px solid #bbb;
}

.newNote:hover {
    opacity: 1;
    border: 1px solid #bbb;
}
