.node {
    border-radius: 50%;
    background-color: #444;
}

.hotbar {
    opacity: 0.6;
    transition: opacity 0.4s;
}

.hotbar:hover {
    opacity: 1;
}

.hotbar:focus-within {
    opacity: 1;
}

.newNote {
    opacity: 0.6;
    transition: opacity 0.4s;
}

.newNote:hover {
    opacity: 1;
}
